@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-flex;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /* background-color: #d4af37; */
  background-color: #fcf6fc;
}

.menu {
  background-color: #fcf6fc;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 200px;
}

ul {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

li a {
  color: #94808c;
}

li a:hover {
  font-size: 1.01rem;
  color: #633569;
  font-weight: 400;
}

.banner {
  position: relative;
  z-index: 1;
}

#about {
  /* background-color: #f0d7c2; */
  /* background-color: #ffedce; */
  background-color: #fcf6fc;
  padding-bottom: 30px;
  position: relative;
}

#about h2 {
  font-family: "Indie Flower", cursive;
  font-size: 1.8rem;
  text-align: center;
  color: #633569;
  padding: 40px 0px 20px 0px;
}

#about p {
  text-align: center;
  padding: 0px 200px 10px 200px;
  line-height: 1.5em;
  font-size: 0.9rem;
  color: #2d272b;
}

#detalhe1 {
  width: 350px;
  position: absolute;
  top: -100px;
  left: -200px;
  filter: drop-shadow(2px 2px 2px #0000009d);
}

#detalhe2 {
  width: 100px;
  position: absolute;
  top: 150px;
  right: 0px;
  filter: drop-shadow(2px 2px 2px #0000009d);
}

.center {
  display: flex;
  justify-content: center;
}
.about-button {
  display: inline-block;
  padding: 13px 78px;
  color: #fcf6fc;
  background-color: #633569;
  border-radius: 4px;
  margin: 20px 0px;
  border: 2px solid #633569;
}

.about-button:hover {
  border-color: #94808c;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fa-angle-up{
    background-color: #fff;
    border: 2px solid #4a274e;
    border-radius: 50%;
    padding: 5px 6px;
    color: #633569;
    font-size: 1.5rem;
    
}

#toTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}